In [14]:
import pandas as pd
import csv
import numpy as np
import collections  
df = pd.read_csv("/home/fariya/Desktop/assignmnet/person",delimiter=',')
df.to_csv('assignment.csv')
csvdata=[]
with open("assignment.csv") as csvfile:
    readCSV=csv.reader(csvfile)
    for line in readCSV:
        csvdata.append(line)
def getKey(item):
    return item[1]

csvdata.sort(key=getKey)

for i in csvdata:
    print(i)
    df1=pd.DataFrame(csvdata)
    df1.to_csv= ('/home/fariya/Desktop/assignment/assignment2.csv')
    df1.read_csv=("assignment2.csv")
df1.head()

['9', 'Alston', 'True']
['26', 'Atkins', 'False']
['94', 'Ayala', 'True']
['48', 'Ayers', 'True']
['91', 'Barlow', 'False']
['51', 'Beck', 'True']
['69', 'Blackburn', 'False']
['46', 'Bowers', 'True']
['52', 'Boyd', 'False']
['38', 'Brigg', 'True']
['53', 'Briggs', 'True']
['77', 'Browning', 'True']
['86', 'Bryant', 'False']
['39', 'Burks', 'True']
['41', 'Byrd', 'False']
['25', 'Cantu', 'False']
['43', 'Carter', 'True']
['32', 'Coleman', 'False']
['50', 'Compton', 'False']
['97', 'Conley', 'True']
['95', 'Dawson', 'True']
['68', 'Day', 'False']
['40', 'Decker', 'False']
['60', 'Dickerson', 'True']
['36', 'Dyer', 'True']
['18', 'Estes', 'False']
['2', 'Fischer', 'False']
['54', 'Fisher', 'True']
['37', 'Flower', 'False']
['55', 'Flowers', 'True']
['70', 'Floyd', 'True']
['29', 'Frederick', 'True']
['14', 'French', 'True']
['87', 'Fulton', 'True']
['20', 'Gilmore', 'False']
['90', 'Greer', 'False']
['93', 'Gregory', 'False']
['78', 'Griffin', 'False']
['92', 'Gross', 'False']
['0', 'Guzman', 'True']
['4', 'Hardin', 'False']
['15', 'Hardins', 'False']
['28', 'Hart', 'False']
['56', 'Hensley', 'False']
['47', 'Hodges', 'True']
['11', 'Holt', 'False']
['85', 'Hooper', 'True']
['17', 'Howe', 'True']
['63', 'Hyde', 'False']
['42', 'Johnson', 'False']
['65', 'Keith', 'True']
['67', 'Kemp', 'False']
['74', 'King', 'False']
['10', 'Kirby', 'False']
['35', 'Kirk', 'False']
['98', 'Knapp', 'False']
['16', 'Leon', 'False']
['75', 'Mathis', 'False']
['27', 'May', 'True']
['21', 'Mccall', 'False']
['80', 'Mckee', 'False']
['49', 'Mcneil', 'True']
['3', 'Melendez', 'True']
['88', 'Mercado', 'False']
['61', 'Molina', 'True']
['12', 'Morales', 'False']
['71', 'Moran', 'True']
['1', 'Morse', 'True']
['76', 'Morses', 'True']
['7', 'Moss', 'True']
['31', 'Nolan', 'True']
['34', 'Ortiz', 'False']
['45', 'Pacheco', 'False']
['73', 'Pachecos', 'False']
['13', 'Padilla', 'False']
['72', 'Perez', 'True']
['24', 'Phillips', 'False']
['66', 'Price', 'False']
['84', 'Randolph', 'True']
['23', 'Rios', 'True']
['30', 'Roth', 'True']
['44', 'Russo', 'False']
['57', 'Salas', 'False']
['8', 'Santiago', 'True']
['62', 'Santos', 'True']
['79', 'Savage', 'False']
['89', 'Schroeder', 'True']
['5', 'Shaffer', 'False']
['64', 'Shelton', 'False']
['82', 'Sosa', 'True']
['22', 'Stanton', 'False']
['33', 'Sutton', 'True']
['81', 'Talley', 'False']
['83', 'Tyler', 'False']
['19', 'Valentine', 'False']
['59', 'Wells', 'False']
['58', 'West', 'False']
['96', 'Wiley', 'False']
['', 'Witt', 'True']
['6', 'Wooten', 'False']

    0       1      2
0   9  Alston   True
1  26  Atkins  False
2  94   Ayala   True
3  48   Ayers   True
4  91  Barlow  False

In [3]:
import os
import pandas as pd

dirpath = '/home/fariya/Desktop/assignmnet/pred'
output = '/home/fariya/Desktop/assignment/pred.csv'
csvout_lst = []
files = [os.path.join(dirpath, fname) for fname in os.listdir(dirpath)]

for filename in sorted(files):
    data = pd.read_csv(filename, sep=',', index_col=0, header=None)
    csvout_lst.append(data)

pd.concat(csvout_lst).to_csv(output)
pd.read_csv("pred.csv")
data.head()

Empty DataFrame
Columns: []
Index: [1]

In [5]:
df1.read_csv=("assignment2.csv")

In [25]:
import pandas as pd
import csv
import numpy as np
from collections import OrderedDict




df = pd.read_csv("/home/fariya/Desktop/assignmnet/person",delimiter=',')
df.to_csv('assignment.csv')
with open('assignment.csv','r') as f:
    r = csv.reader(f)
    od = OrderedDict ((row[0], row[1:]) for row in r)
    od=OrderedDict(sorted(od.items(), key=lambda t: t[1]))
df1=pd.DataFrame(od)
df1.to_csv= ('assignment.csv')
df1.read_csv=("assignment.csv")
df1=df1.T
df1.head()
print(df1)

with open("assignment.csv", "w") as file:
    writer = csv.writer(file, delimiter=",", lineterminator="\n")
    for row_cells in od.values():
        writer.writerow(row_cells)

         0      1
9   Alston   True
26  Atkins  False
94   Ayala   True
48   Ayers   True
91  Barlow  False
..     ...    ...
59   Wells  False
58    West  False
96   Wiley  False
      Witt   True
6   Wooten  False

[100 rows x 2 columns]

In [26]:
df1.head()

         0      1
9   Alston   True
26  Atkins  False
94   Ayala   True
48   Ayers   True
91  Barlow  False

In [51]:

df1.columns.map(type)

Index([<class 'int'>, <class 'int'>], dtype='object')

In [57]:
dfnew=df1.rename(columns={'value': '1'},inplace=True)
print(dfnew)

None

In [27]:
df1=pd.read_csv('/home/fariya/Desktop/assignment/assignment.csv')
df1.head()

   person  value
0  Alston   True
1  Atkins  False
2   Ayala   True
3   Ayers   True
4  Barlow  False

In [28]:
df1.value = df1.value.replace({True: 1, False: 0})

In [29]:
df1.head()

   person  value
0  Alston      1
1  Atkins      0
2   Ayala      1
3   Ayers      1
4  Barlow      0

In [33]:
df2=pd.read_csv("/home/fariya/Desktop/assignment/pred.csv")
df2.head()

   prediction
0           0
1           1
2           1
3           1
4           1

In [34]:
print(df2)

    prediction
0            0
1            1
2            1
3            1
4            1
..         ...
95           1
96           1
97           1
98           1
99           1

[100 rows x 1 columns]

In [39]:
predicted_values = df2['prediction'].to_list()
print(predicted_values)

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [40]:
original_values = df1['value'].to_list()
print(original_values)

[1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0]

In [46]:
from sklearn.metrics import classification_report

y_true = original_values
y_pred = predicted_values

print (sklearn.metrics.classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.33      0.02      0.03        56
           1       0.43      0.95      0.60        44

    accuracy                           0.43       100
   macro avg       0.38      0.49      0.31       100
weighted avg       0.38      0.43      0.28       100

In [62]:
import numpy as np
from sklearn.metrics import confusion_matrix

y_true = original_values
y_pred = predicted_values

cnf_matrix = confusion_matrix(y_true, y_pred)
print(cnf_matrix)

FP = cnf_matrix.sum(axis=0) - np.diag(cnf_matrix)  
FN = cnf_matrix.sum(axis=1) - np.diag(cnf_matrix)
TP = np.diag(cnf_matrix)
TN = cnf_matrix.sum() - (FP + FN + TP)

FP = FP.astype(float)
FN = FN.astype(float)
TP = TP.astype(float)
TN = TN.astype(float)
print(FP)
print(FN)
print(TP)
print(TN)

[[ 1 55]
 [ 2 42]]
[ 2. 55.]
[55.  2.]
[ 1. 42.]
[42.  1.]

In [54]:
def perf_measure(original_values,predicted_values):
    TP = 0
    FP = 0
    TN = 0
    FN = 0

    for i in range(len(predicted_values)): 
        if original_values[i]==predicted_values[i]==1:
           TP += 1
        if predicted_values[i]==1 and original_values[i]!=predicted_values[i]:
           FP += 1
        if original_values[i]==predicted_values[i]==0:
           TN += 1
        if predicted_values[i]==0 and original_values[i]!=predicted_values[i]:
           FN += 1

    return(TP, FP, TN, FN)

In [64]:
from sklearn.metrics import f1_score
y_true = original_values
y_pred = predicted_values
f1_score(y_true, y_pred, average='macro')

0.3148214929679048

In [65]:
f1_score(y_true, y_pred, average='micro')

0.42999999999999994

In [66]:
f1_score(y_true, y_pred, average='weighted')

0.28111071042192565

In [67]:
f1_score(y_true, y_pred, average=None)

array([0.03389831, 0.59574468])